
@model List<SDNWebApps.Task>


<style>
    .TaskItem {
        display: inline-block;
        width: 250px;
        padding-bottom: 6px;
    }
     
</style>
<span class="TaskItem">Item</span>
<span>Due Date</span>
@using (Html.BeginForm())
{

    foreach (var task in Model)
    {
        <div id ="FullItem{@task.ID}">
            <a href="#" id=@task.ID class="got-link TaskItem">@Html.LabelForModel(task.Title)</a>
            @if (task.DueDate.HasValue)
            {
            <span> - @task.DueDate.Value.ToShortDateString()</span>
            }

            @if (task.Done)
            {//Need to fix if statement
            <a href="#" id=@task.ID class="delete-link">Delete</a>
            }
        </div>
    }

}