
@model List<SDNWebApps.Task>


@using (Html.BeginForm())
{

    foreach (var task in Model)
    {
        <p id ="FullItem{@task.ID}">
            <a href="#" id=@task.ID class="got-link">@Html.LabelForModel(task.Title)</a>
            @if (task.DueDate.HasValue)
            {
               @task.DueDate.Value.ToShortDateString()
            }
            @if (task.Done)
            {//Need to fix if statement
            <a href="#" id=@task.ID class="delete-link">Delete</a>
            }
        </p>
    }

}