<!--Need to move Style to CSS file-->

<style>
    .MenuBar {
        display: inline-block;
        width: 125px;
        padding-bottom: 10px;
    }
    .BlackLine {
        background: black;
        height: 1px;
        width: 300px;
    }
</style>

<div>
    @Html.ActionLink("Grocery", "Index", "Home", new { area = "GroceryList" }, new {@class="MenuBar"}) 
    @Html.ActionLink("Gas", "List", "Person", new { area = "Gas" }, new {@class="MenuBar"}) 
    @Html.ActionLink("Tasks", "Index", "Home", new { area = "Tasks" }, new {@class="MenuBar"})
</div>
<div class="BlackLine"></div>
<br/>
