@model SDNWebApps.Store

@{
    ViewBag.Title = "Add New Store";
    Layout = "Shared/_Layout.cshtml";
}

<h2>Add New Store</h2>
<div id="ItemAdded"></div><br/>
@Html.LabelFor(m => m.StoreName)
@Html.TextBoxFor(m => m.StoreName) <br/>

<a href="#" class="add-store-link">add</a>


<script src="~/Scripts/jquery-2.0.3.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('a.add-store-link').click(OnAddClick);
    });

    function OnAddClick(e) {
        var name = $("#StoreName").val();
        
        $.post("/GroceryList/Home/AddStore", { storeName: name},
              function (data) // success
              {
                  alert('tea');
              },
              function (msg) // error
              {
                  alert('Error');
              }
             );
        document.getElementById('ItemAdded').innerHTML = name + " was added.";
        document.getElementById('StoreName').value = "";
        
    }

</script>