@using SDNWebApps
@using SDNWebApps.Areas.GroceryList.Models.Home
@model  ViewItemsVM

@{
    Layout = "~/Areas/GroceryList/Views/Home/Shared/_GroceryListLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("~/Areas/GroceryList/Views/Items/ListItems.cshtml", Model)



<script src="~/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="~/Scripts/items.js"></script>