@using SDNWebApps
@using SDNWebApps.Areas.GroceryList.Models.Home
@model IQueryable<SDNWebApps.Store>

@{
    ViewBag.Title = "Grocery List";
    Layout = "Shared/_GroceryListLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{   
    <table id="ItemsTable">
        @{
    //needs to be fixed
    foreach (Store item in Model)
            {
                <tr id="FullItem{@item.ID}">
                    <td style="width: 100px"><a href="#">@item.StoreName</a></td>
                    <td style="width: 50px"><a href="#" id=@item.ID class="delete-link">Delete</a></td>
                </tr>
            }
        }
    </table>
}

<script src="~/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="~/Scripts/store.js"></script>