@using SDNWebApps.Areas.GroceryList.Models.Home
@model  ViewItemsVM



@using (Html.BeginForm())
{
    foreach (var item in Model.Items)
    {
        <div id="FullItem{@item.ID}">
            <a href="#" class="got-link" id=@item.ID>@Html.LabelForModel(item.Name)</a>
            @if (Model.ShowAll)
            {
                <span> | <a href="#" id=@item.ID class="delete-link">Delete</a></span>
            }
            <p class="BlackLine"></p>
        </div>



    }

}