@model SDNWebApps.Store

@{
    ViewBag.Title = "Add New Store";
    Layout = "~/Areas/GroceryList/Views/Home/Shared/_GroceryListLayout.cshtml";
}

<style>
  label {
      width: 50px;
      padding-bottom: 2px;
  }
</style>

<h2>Add New Store</h2>
<div id="ItemAdded"></div>
<p>
    @Html.LabelFor(m => m.StoreName): @Html.TextBoxFor(m => m.StoreName)
</p>

<p><a href="#" class="add-store-link">Add</a></p>


<script src="~/Scripts/jquery-2.0.3.js" type="text/javascript"></script>

<script src="~/Scripts/store.js"></script>