@using SDNWebApps
@model IQueryable<SDNWebApps.Store>

@using (Html.BeginForm())
{

    foreach (Store item in Model)
    {
        <div id="FullItem{@item.ID}">
            @Html.Label(@item.StoreName) - <a href="#" id=@item.ID class="delete-link">Delete</a>
        </div>


    }
}